<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Attach1:</strong>
  <%= @task.attach1 %>
</p>

<p>
  <strong>Attach2:</strong>
  <%= @task.attach2 %>
</p>

<p>
  <strong>Attach3:</strong>
  <%= @task.attach3 %>
</p>

<p>
  <strong>Attach4:</strong>
  <%= @task.attach4 %>
</p>

<p>
  <strong>Attach5:</strong>
  <%= @task.attach5 %>
</p>

<h4>Subtasks</h4>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

<tbody>
    <% @task.subtasks.each do |subtask| %>
      <tr>
        <td><%= subtask.title %></td>
        <td>
          <%= subtask.description %>
              <ul>
                <% subtask.subtask_questions.each do |subtask_question| %>
                  <li><%= subtask_question.description%></li>
                <% end %>
              </ul>
        </td>

    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
