<p id="notice"><%= notice %></p>

<h3>>> Click <a href="#responses">here</a>, to go to responses</h3>

<h3>Task Details</h3>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Attach1:</strong>
  <%= @task.attach1 %>
</p>

<p>
  <strong>Attach2:</strong>
  <%= @task.attach2 %>
</p>

<p>
  <strong>Attach3:</strong>
  <%= @task.attach3 %>
</p>

<p>
  <strong>Attach4:</strong>
  <%= @task.attach4 %>
</p>

<p>
  <strong>Attach5:</strong>
  <%= @task.attach5 %>
</p>

<h4>Subtasks</h4>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

<tbody>
    <% @task.subtasks.each do |subtask| %>
      <tr>
        <td><%= subtask.title %></td>
        <td>
          <%= subtask.description %>
              <ul>
                <% subtask.subtask_questions.each do |subtask_question| %>
                  <li><%= subtask_question.description%></li>
                <% end %>
              </ul>
        </td>

    <% end %>
  </tbody>
</table>

<br/>

<a name="responses"></a>
<h3>Turker Responses</h3>

<table class="table" border=1>
  <thead>
    <tr>
      <th>Mturk ID</th>
      <th>Is_timed</th>
      <th>Start_time</th>
      <th>End_time</th>
      <% @task.subtasks.each do |subtask| %>
        <% subtask.subtask_questions.each do |subtask_question| %>
          <th><%= subtask_question.description%></th>
        <% end %>
      <% end %>    
    </tr>
  </thead>
  <% @task.task_users.each do |taskuser| %>
  <%user = taskuser.user%>
  <% if user!=nil && user.presurvey_status && user.untimed_survey_status && user.untimed_completion_survey_status && user.timed_survey_status && user.timed_completion_survey_status %>
  <tr>
    <td><%=taskuser.user.mturk_id%></td>
    <td><%=taskuser.is_timed%></td>
    <td><%=taskuser.start_time%></td>
    <td><%=taskuser.end_time%></td>

    <% @task.subtasks.each do |subtask| %>
      <% subtask.subtask_questions.each do |subtask_question| %>
        <td>
          <% subtask_question_user = SubtaskQuestionUser.where("subtask_question_id = ? and user_id = ?", subtask_question.id, taskuser.user_id).first%>
          <% if subtask_question_user != nil %>
            <%= subtask_question_user.description%>
          <% end %>
        </td>
      <% end %>
    <% end %>

  </tr>
  <% end%> <!-- END IF-STATUS-TRUE-->
  <% end %> <!-- END LOOP -->
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>


