<h1>Task Users
  <%= link_to new_task_user_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Task User
  <% end %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Task</th>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_users.each do |task_user| %>
      <tr>
        <td><%= task_user.task_id %></td>
        <td><%= task_user.user_id %></td>
        <td><%= task_user.status %></td>
        <td><%= link_to 'Show', task_user, class: 'btn btn-primary btn-xs'   %></td>
        <td><%= link_to 'Edit', edit_task_user_path(task_user), class: 'btn btn-info btn-xs'   %></td>
        <td><%= link_to 'Destroy', task_user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'   %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Task user', new_task_user_path %>
