<h1>Users
  <%= link_to new_user_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New User
  <% end %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Mturk</th>
      <th>Password</th>
      <th>Email</th>
      <th>Presurvey Status</th>
      <th>Workflow 1 Status</th>
      <th>Workflow 1 Completion Survey Status</th>
      <th>Workflow 2 Status</th>
      <th>Workflow 2 Completion Survey Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% completed_count = 0%>
    <% @w1_count = 0 %>
    <% @w1_ucount = 0 %>
    <% @w1_tcount = 0 %>
    
    <% @w2_count = 0 %>
    <% @w2_ucount = 0 %>
    <% @w2_tcount = 0 %>

    <% @w3_count = 0 %>
    <% @w3_ucount = 0 %>
    <% @w3_tcount = 0 %> 

    <% @w4_count = 0 %>
    <% @w4_ucount = 0 %>
    <% @w4_tcount = 0 %>

    <% @w5_count = 0 %>
    <% @w5_ucount = 0 %>
    <% @w5_tcount = 0 %>

    <% @users.each do |user| %>
      <tr 
      <% if user.presurvey_status && user.untimed_survey_status && user.untimed_completion_survey_status && user.timed_survey_status && user.timed_completion_survey_status %>
        style="background-color: #00CC33;"
        <%completed_count = completed_count + 1%>
      <% end%>
      >
        <td><%= user.mturk_id %></td>
        <td><%= user.password %></td>
        <td><%= user.email %></td>
        <td><%= user.presurvey_status%></td>
        <td>
          <%= user.untimed_survey_status%>
          <% if user.untimed_survey_status
              utask_id = user.task_users.where("is_timed = 0").first.id
          
              if utask_id == 1 
                @w1_ucount = @w1_ucount + 1
            
              elsif utask_id == 2
                @w2_ucount = @w2_ucount + 1

              elsif utask_id == 3
                @w3_ucount = @w3_ucount + 1

              elsif utask_id == 4
                @w4_ucount = @w4_ucount + 1

              elsif utask_id == 5
                @w5_ucount = @w5_ucount + 1
              end
            end
          %>
        </td>
        <td><%= user.untimed_completion_survey_status%></td>
        <td>
          <%= user.timed_survey_status%>
          <% if user.timed_survey_status
              ttask_id = user.task_users.where("is_timed = 1").first.id
          
              if ttask_id == 1 
                @w1_tcount = @w1_tcount + 1
            
              elsif ttask_id == 2
                @w2_tcount = @w2_tcount + 1

              elsif ttask_id == 3
                @w3_tcount = @w3_tcount + 1

              elsif ttask_id == 4
                @w4_tcount = @w4_tcount + 1

              elsif ttask_id == 5
                @w5_tcount = @w5_tcount + 1
              end
            end
          %>
        </td>
        <td><%= user.timed_completion_survey_status%></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary btn-xs'   %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info btn-xs'   %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'   %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<p>
  <strong>Completed Count:</strong> <%=completed_count%>
</p>

<%
  @w1_count = @w1_ucount + @w1_tcount
  @w2_count = @w2_ucount + @w2_tcount
  @w3_count = @w3_ucount + @w3_tcount
  @w4_count = @w4_ucount + @w4_tcount
  @w5_count = @w5_ucount + @w5_tcount
%>

<table class="table">
  <tr>
    <td></td>
    <td>W1</td>
    <td>W2</td>
    <td>W3</td>
    <td>W4</td>
    <td>W5</td>
    <td></td>
  </tr>

  <tr>
    <td>Untimed</td>
    <td><%=@w1_ucount%></td>
    <td><%=@w2_ucount%></td>
    <td><%=@w3_ucount%></td>
    <td><%=@w4_ucount%></td>
    <td><%=@w5_ucount%></td>
    <td><%= @w1_ucount + @w2_ucount + @w3_ucount + @w4_ucount + @w5_ucount %></td>
  </tr>

  <tr>
    <td>Timed</td>
    <td><%=@w1_tcount%></td>
    <td><%=@w2_tcount%></td>
    <td><%=@w3_tcount%></td>
    <td><%=@w4_tcount%></td>
    <td><%=@w5_tcount%></td>
    <td><%= @w1_tcount + @w2_tcount + @w3_tcount + @w4_tcount + @w5_tcount %></td>
  </tr>

  <tr>
    <td>Total</td>
    <td><%=@w1_count%></td>
    <td><%=@w2_count%></td>
    <td><%=@w3_count%></td>
    <td><%=@w4_count%></td>
    <td><%=@w5_count%></td>
    <td><%= @w1_count + @w2_count + @w3_count + @w4_count + @w5_count %></td>
  </tr>

</table>

<%#= link_to 'New User', new_user_path %>
