<p id="notice"><%= notice %></p>

<p>
  <strong>Mturk:</strong>
  <%= @user.mturk_id %>
</p>

<p>
  <strong>Presurvey Status:</strong> <%= @user.presurvey_status%><br/>
  <strong>Untimed Survey Status:</strong> <%= @user.untimed_survey_status%></br>
  <strong>Untimed Completion Survey Status:</strong> <%= @user.untimed_completion_survey_status%></br>
  <strong>Timed Survey Status:</strong> <%= @user.timed_survey_status%></br>
  <strong>Timed Completion Survey Status:</strong><%= @user.timed_completion_survey_status%></br>
</p>

<hr/>
<!--
<p>
  <strong>Password:</strong>
  <%#= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%#= @user.email %>
</p>
-->

<p>
	<strong>Workflow 1:</strong> <%= @untimed_task_user.task.title %><br/>
	Start Time: <%= @untimed_task_user.start_time%><br/>
	End Time: <%= @untimed_task_user.end_time%>
</p>

<% @untimed_task_user.task.subtasks.each_with_index do |subtask, index| %>
	<p><strong>Task <%= index+1%>. </strong> <%= subtask.description %> <br/>

    <% subtask.subtask_questions.each_with_index do |subtask_question, index| %>
		<strong>Question <%=index+1%>. <strong> <%= subtask_question.description%> </br/>

        <%subtask_question_user = subtask_question.subtask_question_users.where(user: @user).first%>
		<strong>Answer. </strong> 
		<% if subtask_question_user != nil%>
          <i><%= subtask_question_user.description%></i>
        <% end %>
    	</br/>
        
    <% end %>
	</p>
<% end %>

<hr/>

<p>
	<strong>Workflow 2:</strong> <%= @timed_task_user.task.title %><br/>
	Start Time: <%= @timed_task_user.start_time %><br/>
	End Time: <%= @timed_task_user.end_time %>
</p>

<% @timed_task_user.task.subtasks.each_with_index do |subtask, index| %>
	<p><strong>Task <%= index+1%>. </strong> <%= subtask.description %> <br/>

    <% subtask.subtask_questions.each_with_index do |subtask_question, index| %>
		<strong>Question <%=index+1%>. <strong> <%= subtask_question.description%> </br/>

        <%subtask_question_user = subtask_question.subtask_question_users.where(user: @user).first%>
		<strong>Answer. </strong> 
		<% if subtask_question_user != nil%>
          <i><%= subtask_question_user.description%></i>
        <% end %>
    	</br/>
        
    <% end %>
	</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
