<script type="text/javascript">

  jQuery(document).ready(function($){
  //you can now use $ as your jQuery object.
    var body = $( 'body' );

  });

  $('#test1').timer({
    delay: 1000,
    repeat: 15,
    autostart: false,
    callback: function( index ) {
      html = "My timer has fired " + index + " times<br />";
      html += "Current client date time is: " + new Date();
      $(this).html(html);
    }
  });

</script>

<b>Welcome <%=@user.mturk_id%></b>

<h2>Workflow</h2>
<p><%=@task_user.description%><p>
<p>Attachments: <%=@task_user.attach1%> (Download before clicking start)</p>

<%= button_tag 'Start', class: 'btn  btn-success btn-lg btn-block' %>

<div id="test1">Timer attached to this element stopped. Use the buttons below to start/stop the timer.</div>
<button onclick="$('#test1').timer('start');">Start Timer</button>
<button onclick="$('#test1').timer('stop');">Stop Timer</button>
  

<h3>Tasks</h3>
  <dl>
    <% @task_user.subtasks.each_with_index do |subtask, index| %>
        <dt><%#= subtask.title %>Task <%= index+1%>. </td>
        <dd><%= subtask.description %>
              <dl>
                <% subtask.subtask_questions.each_with_index do |subtask_question, index| %>
                  <dt>Question <%=index+1%>. </dt>
                  <dd><%= subtask_question.description%></dd>
                  <%#= form_for(@subtask_question_user, html: {class: 'form-horizontal'}) do |f| %>
                  <%= form_tag({controller: :home, action: :record_user_response}, {class: 'form-horizontal'}) do %>
                  
                  <dd><%= text_field_tag :description, nil, class: 'form-control' %></dd>
		              <dd><%= submit_tag 'Submit', class: 'btn  btn-info   btn-sm' %></dd>
                  <%end%>

                <% end %>
                <%= button_tag 'Enable Next', class: 'btn  btn-success  btn-sm' %>
              </dl>
        </dd>
    <% end %>
  </dl>

<%= button_tag 'Done', class: 'btn  btn-success btn-lg btn-block' %>