<%=javascript_include_tag "timer"%>
<div class="bg-info" style="background-color: #d9534f; color: #ffd800 ; font-size: 12pt; padding: 5px; font-weight: bold;">
  For bonus, answer all questions correctly and "Submit Workflow" in <%if @task_user.task_id == 1%>37<%else%>35<%end%> minutes. <br/>
  <!--Start Time: <%#= @task_user.start_time.localtime.strftime("%I:%M %p. %b %d, %Y (%z)")%>-->
  <%= hidden_field_tag :bonusstarttime, @task_user.start_time%>
  <%if @task_user.task_id == 1%>
    <%= hidden_field_tag :bonusduration, "37"%>
  <%else%>
    <%= hidden_field_tag :bonusduration, "35"%>
  <%end%>
  <!--<input id="bonusendtime" type="hidden" value="2015-12-17 9:20:52"/>-->
</div>
<div class="navbar-fixed-top col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: yellow; color: red; font-size: 24px; text-align: center; position: fixed; left: 0px; top: 40px; padding: 5px;">
  <span id="countdown"></span>
</div>
<br/>
<div class="bg-info" style="color: #d9534f; font-size: 12pt; padding: 5px; font-weight: bold;">
<!--Start Time: <%#= @task_user.start_time.localtime%>.-->
<ul>
<li>Press "Save" to record answer for each question. All unsaved anwer will be lost.</li>
<li>To update an answer, change the answer in the textbox and press "Update". </li>
<li>Once you have answered all questions confidently, press "Submit Workflow". </li>
</ul>
</div>

<%if session[:user_id] % 2 == 2 || session[:user_id] % 2 == 0%>
<h1>Workflow 1</h1>
<%else%>
<h1>Workflow 2</h1>
<%end%>
<p class="text-justify"><%=@task_user.task.description%><p>
  
<p class="text-justify">
  <b>IMPORTANT:</b> You MUST select “Save” immediately after EVERY response provided. Failure to do so will result in loss of answers. 
</p>

<h2>Data Sources</h2>
<ul>
<li><a href="<%=@task_user.task.attach1%>" target="_blank">Source 1</a></li>
<li><a href="<%=@task_user.task.attach2%>" target="_blank">Source 2</a></li>
<li><a href="<%=@task_user.task.attach3%>" target="_blank">Source 3</a></li>
<li><a href="<%=@task_user.task.attach4%>" target="_blank">Source 4</a></li>
</ul>

<%#= button_tag 'Start', class: 'btn  btn-success' %>

<h2>Tasks</h2>
  <dl>
    <% @task_user.task.subtasks.each_with_index do |subtask, index| %>
        <dt><%#= subtask.title %>Task <%= index+1%>. </td>
        <dd><%= subtask.description %>
              <dl>
                <% subtask.subtask_questions.each_with_index do |subtask_question, index| %>
                  <dt>Question <%=index+1%>. </dt>
                  <dd><%= subtask_question.description%></dd>
                  <%#= form_for(@subtask_question_user, html: {class: 'form-horizontal'}) do |f| %>

                  <%subtask_question_user = subtask_question.subtask_question_users.where(user: @user).first%>
                  <% if subtask_question_user != nil%>
                  <dd><b>Your Answer.</b> <i><%= subtask_question_user.description%></i>

                    <%= form_tag({controller: :home, action: :update_user_response}, {class: 'form-horizontal'}) do %>
                      <%= hidden_field_tag :subtask_question_id, subtask_question.id%>
                      <%= hidden_field_tag :subtask_question_user_id, subtask_question_user.id%>
                      <%= hidden_field_tag :task, "timed_survey"%>
                      <div class="form-group  has-success">
                        <label  class="col-sm-2 control-label">Update Answer</label>
                        <div class="col-sm-9">
                          <%= text_area_tag :description, subtask_question_user.description, class: 'form-control' %>
                          <b><i>* Press "Update" to save your updated answer.</i></b>
                        </div>
                        <%= submit_tag 'Update', class: 'col-sm-1 btn  btn-info btn-sm' %>
                      </div>
                    <%end%>
                  
                  </dd>

                  <%else %>
                  <dd><b>Your Answer.</b> <i class="bg-danger">No answer saved.</i>
                    <%= form_tag({controller: :home, action: :record_user_response}, {class: 'form-horizontal'}) do %>
                      <%= hidden_field_tag :subtask_question_id, subtask_question.id%>
                      <%= hidden_field_tag :task, "timed_survey"%>
                        <div class="form-group  has-warning">
                          <label  class="col-sm-1 control-label">Answer</label>
                          <div class="col-sm-10">
                            <%= text_area_tag :description, nil, class: 'form-control' %>
                            <b><i>* Press "Save" to save your answer to this question.</i></b>
                          </div>
		          <%= submit_tag 'Save', class: 'col-sm-1 btn btn-primary btn-sm' %>
                        </div>
                    <%end%>
                  </dd> 
                  <%end%>
                <% end %>
              </dl>
        </dd>
    <% end %>
  </dl>
<%= button_to "Submit Workflow", {contoller: :home, action: :update_completion_status, task_user_id: @task_user.id, task: "timed_survey"}, {class: 'btn btn-success', data: {confirm: "Have you checked over ALL your answers to verify they were recorded properly? If so, select OK. If you believe that your answers were not recorded properly, select Cancel and reenter your answers, remembering to select Save after EVERY answer before final Workflow submission."}}%>
<p>
<b>Note:</b> After submitting the workflow, you cannot edit your answers again.
<br/>
Check over ALL your answers to verify they were recorded properly. If you believe that your answers were not recorded properly, reenter your answers, and select Save after EVERY answer before final Workflow submission.
</p>