<h1>Dashboard</h1>

<h2> About the Study </h2>

<p class="text-justify">
  In this study you are to imagine that you are an employee working within a healthcare environment. You will be presented with two workflows (i.e., a collection of related tasks), taking the form of a question or directive from one of your colleagues, Arnab, who is in need of your professional opinion. In order to provide the correct answer and/or recommendation to Arnab you must access the attached Data Source files provided along with the workflow. Some questions will be easier than others. For some, the correct answer will only require that you look up a particular value in the correct Data Source (e.g., an Excel file) and then input that value in the appropriate answer space. Other questions will require multiple steps including acquiring information from multiple sources (e.g., both Excel and Word files) as well as elementary statistical analyses (e.g., determining the mean of a variable) or simple arithmetic. Good luck!
</p>

<h2> Instructions </h2>

<p class="text-justify">
  Prior to beginning the above mentioned workflows we ask that you complete a pre-study survey. The link to the pre-study survey can be found below. After you successfully answer all questions on the pre-study survey you will then be able to access the Workflow 1 link also located below. After successful completion of Workflow 1, the Workflow 1 completion survey will become accessible. This sequence of events will repeat continuing with Workflow 2.
</p>
  
<h2> Links </h2>

  <ul>
    <li>
      <% if !@user.presurvey_status %>
        <%=link_to "Pre-participation Survey", controller: :home, action: :pre_survey%>
      <% elsif @user.presurvey_status%>
        <s>Pre-participation Survey</s>
      <% end %>
    </li>
    <li><%#=link_to "Task 1", :controller=> :home, :action => :untimed_survey%>
      <% if !@user.untimed_survey_status%> 
        <% if @user.presurvey_status%>
          <%=link_to "Workflow 1", controller: :home, action: :untimed_survey%>
        <% else %>
          Workflow 1
        <% end %>
      <% elsif @user.untimed_survey_status%>
        <s>Workflow 1</s>
      <%end%>
    </li>
    <li>
      <% if !@user.untimed_completion_survey_status%> 
        <% if @user.untimed_survey_status%>
          <%=link_to "Workflow 1 Completion Survey", controller: :home, action: :untimed_completion_survey%>
        <% else %>
          Workflow 1 Completion Survey
        <% end %>
      <% elsif @user.untimed_completion_survey_status%>
        <s>Workflow 1 Completion Survey</s>
      <%end%>    
    </li>
    <li>
      <% if !@user.timed_survey_status%> 
        <% if @user.untimed_completion_survey_status%>
          <%=link_to "Workflow 2", controller: :home, action: :timed_survey%>
        <% else %>
          Workflow 2
        <% end %>
      <% elsif @user.timed_survey_status%>
        <s>Workflow 2</s>
      <%end%>
    </li>
    <li>
      <% if !@user.timed_completion_survey_status%> 
        <% if @user.timed_survey_status%>
          <%=link_to "Workflow 2 Completion Survey", controller: :home, action: :timed_completion_survey%>
        <% else %>
          Workflow 2 Completion Survey
        <% end %>
      <% elsif @user.timed_completion_survey_status%>
        <s>Workflow 2 Completion Survey</s>

        <h4 style="background-color: #FF0000; color: #00FF00;">COMPLETION KEY: ZXCVBNM </h4>

      <%end%>    
    </li>
  </ul>
