<%= form_for(@subtask_question) do |f| %>
  <% if @subtask_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtask_question.errors.count, "error") %> prohibited this subtask_question from being saved:</h2>

      <ul>
      <% @subtask_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subtask_id %><br>
    <%= f.number_field :subtask_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
