<h1>Subtask Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Subtask</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subtask_questions.each do |subtask_question| %>
      <tr>
        <td><%= subtask_question.subtask_id %></td>
        <td><%= subtask_question.description %></td>
        <td><%= link_to 'Show', subtask_question, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_subtask_question_path(subtask_question), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', subtask_question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtask question', new_subtask_question_path, class: 'btn btn-success' %>
