<%= form_for(@subtask, html: {class: 'form-horizontal'}) do |f| %>
  <% if @subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
      <% @subtask.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :task_id, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%#= f.number_field :task_id, class: 'form-control' %>
      <%= f.collection_select :task_id, Task.order(:title),:id,:title, {prompt: "Select a task"}, {class: "form-control"} %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :duration, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.number_field :duration, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :attach1, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :attach1, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :attach2, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :attach2, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :attach3, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :attach3, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :attach4, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :attach4, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :attach5, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :attach5, class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
