<h1>Listing subtasks</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Title</th>
      <th>Description</th>
      <th>Attach1</th>
      <th>Attach2</th>
      <th>Attach3</th>
      <th>Attach4</th>
      <th>Attach5</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subtasks.each do |subtask| %>
      <tr>
        <td><%= subtask.task_id %></td>
        <td><%= subtask.title %></td>
        <td><%= subtask.description %></td>
        <td><%= subtask.attach1 %></td>
        <td><%= subtask.attach2 %></td>
        <td><%= subtask.attach3 %></td>
        <td><%= subtask.attach4 %></td>
        <td><%= subtask.attach5 %></td>
        <td><%= link_to 'Show', subtask %></td>
        <td><%= link_to 'Edit', edit_subtask_path(subtask) %></td>
        <td><%= link_to 'Destroy', subtask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtask', new_subtask_path %>
