<!DOCTYPE html>
<html>
<head>
  <title>LAS AW Study</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navigation' %>

  <div class="container-fluid">
    <div class="row">
      <% if session[:user_id] != nil and session[:user_id] != 1%>
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li <% if params[:action] == "welcome"%> class="active" <%end%>><%= link_to "Dashboard", controller: :home, action: :welcome%></li>
          <li 
            <% if params[:action] == "pre_survey"%> class="active" <%end%>>
            <% if @user.presurvey_status %> <%=image_tag "checkmark-xxl.png", height: "25px", width: "25px"%> <%end%>
            <%#=link_to "Pre-participation Survey", controller: :home, action: :pre_survey%>
            Pre-participation Survey

          </li>

        </ul>
        <ul class="nav nav-sidebar">
          <li <% if params[:action] == "untimed_survey"%> class="active" <%end%>>
            <%#=link_to "Workflow 1", controller: :home, action: :untimed_survey%>
            <% if @user.untimed_survey_status %> <%=image_tag "checkmark-xxl.png", height: "25px", width: "25px"%> <%end%>
            Workflow 1
          </li>
          <li <% if params[:action] == "untimed_completion_survey"%> class="active" <%end%>>
            <%#=link_to "Workflow 1 Completion Survey", controller: :home, action: :untimed_completion_survey%>
            <% if @user.untimed_completion_survey_status %> <%=image_tag "checkmark-xxl.png", height: "25px", width: "25px"%> <%end%>
            Workflow 1 Completion Survey
          </li>
        </ul>
        <ul class="nav nav-sidebar">
          <li <% if params[:action] == "timed_survey"%> class="active" <%end%>>
            <%#=link_to "Workflow 2", controller: :home, action: :timed_survey%>
            <% if @user.timed_survey_status %> <%=image_tag "checkmark-xxl.png", height: "25px", width: "25px"%> <%end%>
            Workflow 2
          </li>
          <li <% if params[:action] == "timed_completion_survey"%> class="" <%end%>>
            <%#=link_to "Workflow 2 Completion Survey", controller: :home, action: :timed_completion_survey%>
            <% if @user.timed_completion_survey_status %> <%=image_tag "checkmark-xxl.png", height: "25px", width: "25px"%> <%end%>
            Workflow 2 Completion Survey
          </li>
          
        </ul>
      </div>
      <% end %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%#= params[:controller] + "_" + params[:action] %>
          <%= yield %>
      </div>
    </div>
  </div>




  <!--<div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <%# flash.each do |name, msg| -%>
          <%#= content_tag :div, msg, class: "alert alert-#{name}" %>
        <%# end -%>
      </div>
    </div>    	
    <div class="row">
      <div class="col-xs-12">
        <%#= yield %>
      </div>
    </div>
  </div>-->

</body>
</html>
